/*-------------INDEX---------------*/
.hola {
  background-color: rgba(68, 91, 108, 0.1);
  color: #60c489;
  font-family: "Montserrat", Sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 2em;
  margin-top: 2.5rem; }
  .hola__titulo {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.5625em;
    font-weight: bolder; }
  .hola__p {
    font-size: 1rem;
    color: #27292b; }

main {
  padding: 2em;
  height: auto;
  background-color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
  color: #d4aaa8; }
  main h2, main h3, main h4, main h5 {
    font-weight: 1000;
    display: inline-block;
    margin: 1em auto;
    padding: 0; }
  main h4 {
    font-weight: lighter;
    color: #27292b;
    background-color: #e5d1d0;
    font-family: "Montserrat", Sans-serif;
    font-weight: bolder;
    padding: 1em;
    margin-top: 2em;
    border-radius: .5em;
    box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
    display: flex;
    flex-direction: column; }
    main h4 .bg-secondary {
      margin-top: .5em;
      background-color: #d4aaa8 !important;
      height: 30px; }
      main h4 .bg-secondary a:hover {
        color: #27292b; }
  main .botonSeguinos {
    color: #ffffff; }
  main a {
    text-decoration: none;
    color: #0b3948;
    padding: 1em; }
  main p {
    font-size: 1em;
    color: #27292b;
    padding: .5em;
    text-align: justify; }
  main .carouselIndex {
    background-color: #ffffff; }
    main .carouselIndex #carouselExampleControls {
      margin: 0px;
      padding-top: 1em;
      padding-bottom: 1em; }
      main .carouselIndex #carouselExampleControls div .d-block {
        width: auto;
        max-height: 90vh;
        object-fit: scale-down; }
  main p {
    padding: 1em;
    font-family: "Montserrat", Sans-serif;
    font-style: italic;
    color: #27292b;
    text-align: justify;
    max-width: 90%; }

main #containerCards {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw; }
  main #containerCards .cardProductos {
    width: 100%;
    max-height: 75vh;
    margin: 1.25em;
    border-radius: .5em;
    overflow: hidden;
    background-color: rgba(68, 91, 108, 0.1);
    transition: all 400ms ease;
    box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1em;
    padding-left: 1.3em; }
    main #containerCards .cardProductos h5 {
      font-size: 1.2em;
      font-weight: bolder;
      text-align: center; }
    main #containerCards .cardProductos p.pCardIndex {
      padding: .5em;
      margin: 0; }
    main #containerCards .cardProductos img {
      width: 90%;
      height: auto;
      margin-top: 0em;
      margin-left: .5em; }
    main #containerCards .cardProductos .pipavelaImg {
      width: 90%;
      height: auto;
      margin-top: -1.6em;
      margin-left: .5em; }
  main #containerCards .cardProductos:hover {
    transform: translateY(-3%); }

/*--------------SOBRE FICUS-------------------*/
.sobreFicus {
  height: auto;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  color: #27292b;
  max-width: 100%;
  height: auto; }
  .sobreFicus h2, .sobreFicus h3 {
    color: #d4aaa8;
    font-weight: 1000;
    display: inline-block;
    margin: 1em auto;
    padding: 0; }
  .sobreFicus #containerQsomos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center; }
    .sobreFicus #containerQsomos #quienesSomos {
      margin: .6em auto; }
    .sobreFicus #containerQsomos img {
      margin: .6em auto;
      max-width: 60vw;
      height: auto; }
    .sobreFicus #containerQsomos p {
      margin: .6em auto; }
  .sobreFicus #containerConcepto {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
    .sobreFicus #containerConcepto #concepto {
      margin: .6em auto; }
    .sobreFicus #containerConcepto p {
      margin: .6em auto; }
  .sobreFicus #containerAmigos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /*div .cardsAmigos {*/ }
    .sobreFicus #containerAmigos .amigosTitulo {
      margin: .6em auto; }
    .sobreFicus #containerAmigos p {
      margin: .6em auto; }
    .sobreFicus #containerAmigos .cardsAmigos {
      display: flex;
      justify-content: center;
      align-content: center;
      justify-items: center;
      margin: .6em auto;
      height: 40vh;
      padding-bottom: 2em; }
      .sobreFicus #containerAmigos .cardsAmigos .cardItem {
        width: 40%;
        height: 80%;
        background-color: #dfb4b4;
        padding: 1em;
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8%;
        box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842); }
        .sobreFicus #containerAmigos .cardsAmigos .cardItem a {
          margin: 0;
          padding: 0;
          font-size: 0; }
          .sobreFicus #containerAmigos .cardsAmigos .cardItem a img {
            width: 6.5rem;
            height: 6.5rem;
            margin: 1em;
            border-radius: 50%;
            transition: height 1s width 1s;
            box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842); }
            .sobreFicus #containerAmigos .cardsAmigos .cardItem a img:hover {
              height: 8.125rem;
              width: 8.125rem;
              box-shadow: 5px; }
        .sobreFicus #containerAmigos .cardsAmigos .cardItem p {
          font-weight: bold;
          color: #ffffff; }

/*-------------- TALLERES----------------*/
#gridTalleres {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "personales grupales";
  align-items: flex-start;
  justify-items: center;
  padding: 1em;
  background-color: #ffffff;
  font-family: "Montserrat", Sans-serif; }
  #gridTalleres #tituloTaller {
    font-size: 3em;
    color: #d4aaa8;
    font-weight: bold;
    padding: .5em; }
  #gridTalleres p {
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
    color: #27292b;
    padding: .5em;
    text-align: justify;
    max-width: 80vw; }
  #gridTalleres #tPersonales {
    grid-area: personales;
    background-color: #f3d0ce;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1em;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: .8em; }
    #gridTalleres #tPersonales img {
      max-width: 80%;
      margin: .8em 2em;
      border-radius: .8em; }
    #gridTalleres #tPersonales h2 {
      font-size: 3em;
      color: #ffffff;
      font-weight: bold;
      padding: .5em;
      margin: 0;
      text-align: center; }
    #gridTalleres #tPersonales .containerCardt {
      width: 80%;
      height: auto;
      padding: .5em;
      background-color: #cdc7be;
      border-radius: .8em;
      display: flex;
      align-items: center; }
      #gridTalleres #tPersonales .containerCardt h6 {
        font-size: 1em;
        font-weight: bolder;
        color: #ffffff; }
      #gridTalleres #tPersonales .containerCardt a {
        text-align: center; }
      #gridTalleres #tPersonales .containerCardt a:hover {
        color: #ffffff; }
  #gridTalleres #tGrupales {
    grid-area: grupales;
    background-color: #e7bdbb;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1em;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: .8em; }
    #gridTalleres #tGrupales img {
      max-width: 80%;
      margin: .6em auto;
      border-radius: .8em; }
    #gridTalleres #tGrupales h3 {
      color: #ffffff;
      margin: 0;
      text-align: center; }

/*------------CONTACTO-----------------*/
#mainContacto {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: "Montserrat", Sans-serif; }
  #mainContacto #formularioContacto {
    color: #27292b;
    width: 50%;
    background-color: #f3d0ce;
    padding: 1.25rem;
    border-radius: 8%;
    box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842); }
    #mainContacto #formularioContacto #comentario {
      width: 90%;
      margin-left: 1.6em; }

/*------------PRODUCTOS-----------------*/
#gridProductos {
  width: 100vw;
  height: auto;
  max-width: 100vw;
  padding: 0;
  background-color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 4% 17% 17% 4% 17% 17% 4% 20%;
  grid-template-areas: "titulo titulo titulo titulo" "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8" "titulo2 titulo2 titulo2 titulo2" "foto1b foto2b foto3b foto4b" "foto5b foto6b foto7b foto8b" "titulo3 titulo3 titulo3 titulo3" "tabla tabla tabla tabla";
  grid-gap: .2em; }
  #gridProductos #vajilla {
    grid-area: titulo; }
  #gridProductos .foto1 {
    grid-area: foto1;
    padding: .5em; }
    #gridProductos .foto1 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto2 {
    grid-area: foto2;
    padding: .5em; }
    #gridProductos .foto2 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto3 {
    grid-area: foto3;
    padding: .5em; }
    #gridProductos .foto3 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto4 {
    grid-area: foto4;
    padding: .5em; }
    #gridProductos .foto4 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto5 {
    grid-area: foto5;
    padding: .5em; }
    #gridProductos .foto5 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto6 {
    grid-area: foto6;
    padding: .5em; }
    #gridProductos .foto6 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto7 {
    grid-area: foto7;
    padding: .5em; }
    #gridProductos .foto7 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .foto8 {
    grid-area: foto8;
    padding: .5em; }
    #gridProductos .foto8 img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos #decoracion_otros {
    grid-area: titulo2; }
  #gridProductos .img1bis {
    grid-area: foto1b;
    padding: .5em; }
    #gridProductos .img1bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img2bis {
    grid-area: foto2b;
    padding: .5em; }
    #gridProductos .img2bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img3bis {
    grid-area: foto3b;
    padding: .5em; }
    #gridProductos .img3bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img4bis {
    grid-area: foto4b;
    padding: .5em; }
    #gridProductos .img4bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img5bis {
    grid-area: foto5b;
    padding: .5em; }
    #gridProductos .img5bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img6bis {
    grid-area: foto6b;
    padding: .5em; }
    #gridProductos .img6bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img7bis {
    grid-area: foto7b;
    padding: .5em; }
    #gridProductos .img7bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos .img8bis {
    grid-area: foto8b;
    padding: .5em; }
    #gridProductos .img8bis img {
      max-width: 95%;
      object-fit: cover; }
  #gridProductos #tabla_precios {
    grid-area: titulo3; }
  #gridProductos #tablaProductos {
    grid-area: tabla;
    max-width: 90vw;
    padding: .5em;
    margin: .6em auto;
    color: #27292b;
    background-color: rgba(68, 91, 108, 0.1);
    border-radius: .8em;
    box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
    font-size: 13px; }
    #gridProductos #tablaProductos td {
      padding: 0;
      padding-left: .5em; }
      #gridProductos #tablaProductos td .ulTabla {
        list-style: none;
        margin: 0;
        padding: 0; }

body {
  margin: 0;
  padding: 0; }

/*h2,h3{
	font-size: 2.5em;
	color: $colorTitulos;
	font-weight: bolder;
	
}*/
/*----------------ENCABEZADO-------------------*/
.cabecera {
  margin: 0;
  padding: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../css/fotosCarousel/slide4.jpg);
  height: 50vh;
  min-height: 200px;
  background-position: center center;
  background-size: cover; }
  header .cabecera__logo {
    max-width: 40%;
    height: auto;
    display: flex;
    border-radius: 50%; }
  .cabecera a {
    text-decoration: none;
    color: #e5d1d0;
    font-family: "Montserrat", Sans-serif;
    font-weight: bolder; }
  .cabecera__titulo {
    -webkit-text-stroke: 2px #366063;
    color: #e5d1d0;
    font-size: 3.5em;
    padding-left: 1em;
    letter-spacing: .3em;
    text-align: center; }
  .cabecera__titulo:hover {
    color: #e5d1d0;
    font-size: 4em;
    transition: 2s;
    text-align: center;
    padding: 0; }

/*-----------BARRA DE NAVEGACION--------------*/
.navbar {
  font-family: "Montserrat", Sans-serif;
  background-color: #e5d1d0 !important;
  box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
  color: #27292b; }
  .navbar .navbar-collapse ul li .nav-link {
    color: #27292b; }
  .navbar .dropdown-menu[data-bs-popper] {
    background-color: #e5d1d0;
    color: #27292b; }

/*----------------------------FOOTER--------------------------------*/
.footer {
  max-height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5d1d0;
  font-family: "Montserrat", Sans-serif;
  color: #27292b;
  box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842); }
  .footer .flexFoot {
    display: flex;
    align-items: center; }
    .footer .flexFoot__logo {
      border-radius: 50%;
      max-height: 5em;
      margin: .8em; }
    .footer .flexFoot__ul {
      padding: .5em;
      text-decoration: none;
      list-style: none;
      margin: 0; }
      .footer .flexFoot__ul li .footerLinks {
        text-decoration: none;
        color: #27292b;
        padding-left: .3em; }
  footer .footer__amor {
    color: #27292b;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px !important;
    margin-left: 15px; }
  .footer__amor--modifier:hover {
    color: #d4aaa8;
    font-weight: bolder;
    font-style: oblique; }
  .footer p {
    font-size: 13px;
    text-align: center; }

@media (max-width: 800px) and (min-width: 500px) {
  .cabecera {
    min-height: 50px;
    display: flex;
    flex-direction: column; }
    .cabecera__titulo {
      text-align: center;
      padding: 0;
      color: #e5d1d0; }
    .cabecera__titulo:hover {
      font-size: 3.8em;
      transition: 2s;
      padding: 0;
      margin: 0; } }

@media (max-width: 499px) and (min-width: 200px) {
  .cabecera {
    height: 50vh;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    font-size: 10px; }
    .cabecera__titulo {
      font-size: 2.5em;
      letter-spacing: .3em;
      text-align: center;
      padding: 0;
      color: #e5d1d0; }
    .cabecera__titulo:hover {
      color: #e5d1d0;
      font-size: 3em;
      transition: 2s;
      text-align: center;
      padding: 0; } }

/*----------------------------FOOTER--------------------------------*/
.footer {
  font-size: 13px; }
  .footer img {
    border-radius: 50%;
    max-height: 5em;
    margin: .8em; }
  .footer__ul {
    padding: .5em;
    text-decoration: none;
    list-style: none;
    margin: 0; }
    .footer__ul li .footerLinks {
      text-decoration: none;
      color: #27292b;
      padding-left: .3em; }
  footer .footer__amor {
    color: #27292b;
    font-family: "Montserrat", Sans-serif;
    font-size: 0.9375em !important;
    margin-left: 15px; }
  .footer__amor--modifier:hover {
    color: #d4aaa8;
    font-weight: bolder;
    font-style: oblique; }
    @media (max-width: 499px) and (min-width: 300px) {
      .footer__amor--modifier:hover {
        font-size: 15px; } }
  @media (max-width: 499px) and (min-width: 300px) {
    .footer {
      font-size: 10px; } }

@media (max-width: 800px) and (min-width: 500px) {
  #mainIndex #containerCards {
    display: flex;
    flex-direction: column; }
    #mainIndex #containerCards .cardProductos {
      display: flex;
      flex-direction: row;
      padding-left: 1em;
      align-items: center; }
      #mainIndex #containerCards .cardProductos figure {
        width: 38%;
        margin: 2em; }
        #mainIndex #containerCards .cardProductos figure img {
          width: 100%; } }

@media (max-width: 499px) and (min-width: 200px) {
  .hola {
    padding: 0; }
    .hola #hola__titulo {
      font-size: 1em;
      padding: 10px 0px 0px 0px;
      margin: 0; }
    .hola .hola__p {
      font-size: .9em;
      padding: 0; }
  #mainIndex #containerCards {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0; }
    #mainIndex #containerCards .cardProductos {
      display: flex;
      flex-direction: row;
      padding-left: 1em;
      align-items: center;
      margin: 0;
      margin-bottom: 1em; }
      #mainIndex #containerCards .cardProductos figure {
        width: 100%; }
        #mainIndex #containerCards .cardProductos figure img {
          width: 100%;
          margin: 0; }
        #mainIndex #containerCards .cardProductos figure .pipavelaImg {
          margin: 0; }
  #mainIndex h2, #mainIndex h3, #mainIndex h4 {
    text-align: center; } }

@media (min-width: 200px) and (max-width: 499px) {
  .sobreFicus {
    height: auto; }
    .sobreFicus #containerAmigos {
      max-width: 100vw;
      height: auto; }
      .sobreFicus #containerAmigos p {
        max-width: 100vw;
        margin: .6em auto; }
      .sobreFicus #containerAmigos div.cardsAmigos {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-items: center; }
        .sobreFicus #containerAmigos div.cardsAmigos .cardItem {
          display: flex;
          margin-left: 6.5em; } }

@media (max-width: 800px) and (min-width: 500px) {
  #gridTalleres {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "personales grupales";
    align-items: flex-start;
    justify-items: center;
    padding: 1em;
    background-color: #ffffff;
    font-family: "Montserrat", Sans-serif; } }

@media (min-width: 200px) and (max-width: 499px) {
  #gridTalleres {
    display: grid;
    height: auto;
    width: 100vw;
    overflow: auto;
    grid-template-rows: 55% 45%;
    grid-template-columns: 100%;
    grid-template-areas: "personales" "grupales";
    padding: 0;
    font-size: 16px; }
    #gridTalleres #tPersonales {
      grid-area: personales; }
      #gridTalleres #tPersonales p {
        font-size: 1em; }
      #gridTalleres #tPersonales h2 {
        font-size: 2em;
        margin: 0; }
    #gridTalleres #tGrupales {
      grid-area: grupales; }
      #gridTalleres #tGrupales p {
        font-size: 1em; }
      #gridTalleres #tGrupales h3 {
        font-size: 2em;
        margin: 0; } }

@media (max-width: 800px) and (min-width: 500px) {
  #mainContacto {
    height: auto;
    width: 100vw;
    overflow: auto;
    width: auto;
    font-size: 15px; }
    #mainContacto #formularioContacto {
      width: 90%;
      border-radius: 5%; }
      #mainContacto #formularioContacto #comentario {
        width: 95%;
        margin: 0; } }

@media (max-width: 499px) and (min-width: 200px) {
  #mainContacto {
    height: auto;
    width: 100vw;
    overflow: auto;
    font-size: 16px; }
    #mainContacto #formularioContacto {
      width: 99%;
      border-radius: 3%;
      font-size: .8em; }
      #mainContacto #formularioContacto #comentario {
        width: 95%;
        margin: 0; } }

@media (max-width: 800px) and (min-width: 500px) {
  #gridProductos {
    width: 99vw;
    height: auto;
    max-width: 100vw;
    padding: 0;
    background-color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "titulo titulo titulo" "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 ." "titulo2 titulo2 titulo2" "foto1b foto2b foto3b" "foto4b foto5b foto6b" "foto7b foto8b ." "titulo3 titulo3 titulo3" "tabla tabla tabla";
    grid-gap: .2em; } }

@media (max-width: 499px) and (min-width: 200px) {
  #gridProductos {
    width: 99vw;
    height: auto;
    max-width: 100vw;
    padding: 0;
    background-color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "titulo2 titulo2" "foto1b foto2b" "foto3b foto4b" "foto5b foto6b" "foto7b foto8b" "titulo3 titulo3" "tabla tabla";
    grid-gap: .2em;
    overflow: auto; } }
