/*------------CONTACTO-----------------*/

	#mainContacto {
		height: auto;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;

		#formularioContacto{
			color: $colorTexto;
			width: 50%;
			background-color: rgb(243, 208, 206);
			padding: 1.25rem;
			border-radius: round($number: 8%);
			box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);

			#comentario{
				width: 90%;
				margin-left: 1.6em;
			}
		
	}
}