/*------------PRODUCTOS-----------------*/
#gridProductos {
	width: 100vw;
	height: auto;
	max-width:100%;
	padding: 0;
	background-color: $colorFondo;
	font-family: "Montserrat", Sans-serif;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows:	4% 17% 17% 4% 17% 17% 4% 20%;
	grid-template-areas: 
						"titulo titulo titulo titulo"
						"foto1 foto2 foto3 foto4"
						"foto5 foto6 foto7 ."
						"titulo2 titulo2 titulo2 titulo2"
						"foto1b foto2b foto3b foto4b"
						"foto5b foto6b foto7b foto8b"
						"titulo3 titulo3 titulo3 titulo3"
						"tabla tabla tabla tabla";
	grid-gap: .5em;
	


		
			#vajilla{
				grid-area: titulo;
			}
			.foto1{
				grid-area:foto1;
				img{
					max-width: 100%;
				}
			}

			.foto2{
				
				grid-area: foto2;
				img{
					max-width: 100%;
				}
			}

			.foto3{
				
				grid-area: foto3;
				img{
					max-width: 100%;
				}
			}
			.foto4{
			
				grid-area: foto4;
				img{
					max-width: 100%;
				}
			}
			.foto5{
			
				grid-area: foto5;
				img{
					max-width: 100%;
				}
			}
			.foto6{
			
				grid-area: foto6;
				img{
					max-width: 100%;
				}
			}

			.foto7{
			
				grid-area: foto7;
				img{
					max-width: 20%;
				}
			}

			#decoracion_otros{
				grid-area: titulo2;
				
				
			}

			.img1bis{
				
				grid-area: foto1b;
				img{
					max-width: 100%;
				}
			}
			
			.img2bis{
				
				grid-area: foto2b;
				img{
					max-width: 100%;
				}
			}

			.img3bis{
			
				grid-area: foto3b;
				img{
					max-width: 100%;
				}
			}

			.img4bis{
			
				grid-area: foto4b;
				img{
					max-width: 100%;
				}
			}

			.img5bis{
			
				grid-area: foto5b;
				img{
					max-width: 100%;
				}
			}

			.img6bis{
				grid-area: foto6b;
				img{
					max-width: 100%;
				}
			}

			.img7bis{
			
				grid-area: foto7b;
				img{
					max-width: 100%;
				}
			}

			.img8bis{
						
				grid-area: foto8b;
				img{
					max-width: 100%;
				}
			}

			#tabla_precios{
				grid-area: titulo3;
				
			}

			#tablaProductos{
				grid-area: tabla;
				max-width: 100vw;
			}

	}

