/*------------PRODUCTOS-----------------*/
#grillaProductos {
	display: grid;
	width: 100vw;
	grid-template-columns: 100%;
	grid-template-rows: 10% 3% 82% 5%;
	grid-template-areas: "header"
		"nav"
		"main"
		"footer";

	main {
		grid-area: main;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;
		overflow: auto;

		@media (max-width:499px) and (min-width:200px) {
			font-size: 10px;
		}

		h2 {
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;
		}

		h3 {
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;

		}

		.conteiner-fluid {
			max-width: 100vw;
			margin: 1em;
			padding: 1em;
			align-content: center;

			div .row {

				div .col-12 col-md-6 col-sm-4 {
					padding: 1em;

					@media (max-width:499px) and (min-width:200px) {
						img {
							max-width: 80%;
						}
					}
				}
			}

			img {
				max-height: 80vh;
				padding: 1em;

			}
		}

		section p {
			font-family: "Montserrat", Sans-serif;
			font-size: 1em;
			color: $colorTexto;
			padding: 2em;
			text-align: justify;
			max-width: 80vw;
		}

		div #sectionTabla {
			display: flex;
			align-content: center;
			justify-content: center;
			padding-top: 1em;
			padding-bottom: 2em;
			padding-left: 3em;
			color: $colorTexto;
			margin-bottom: 3em;
			max-width: 80vw;


		}
	}

}