body {
	margin: 0;
	padding: 0;

}

$colorFondo: #ffffff;
$colorTexto: #445b6c;
$colorVerdeagua: #60c489;
$colorTitulos: rgb(54, 143, 139);

@import url(tamanios.scss);


/*----------------ENCABEZADO-------------------*/
.cabecera {
	margin: 0;
	padding: 1.25em;
	grid-area: header;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: linear-gradient(90deg, rgba(60, 69, 109, 1) 0%, rgba(223, 180, 180, 1) 0%, rgba(96, 196, 137, 1) 100%);

	@media (max-width:499px) and (min-width:200px) {
		display: flex;
		flex-direction: column;
		font-size: 10px;
	}

	header &__logo {
		max-width: 40%;
		height: auto;
		display: flex;
		border-radius: 50%;
	}

	header &__titulo {
		margin-left: 0.625em;
		color: rgb(229, 209, 208);
		font-family: "Montserrat", Sans-serif;
		font-size: 3.125em;

	}

	&__titulo:hover {
		font-size: 3.75rem;
		transition: 2s;

		@media (max-width:499px) and (min-width:200px) {
			font-size: 3em;
		}
	}


}

/*-----------BARRA DE NAVEGACION--------------*/
nav {
	grid-area: nav;
	list-style: none;
	font-size: 0;
	display: flex;
	align-items: center;
	background-color: rgb(229, 209, 208);
	font-family: "Montserrat", Sans-serif;
	@media (max-width:499px) and (min-width:200px) {
		justify-content: center;}

	.menu {
		list-style: none;
		font-size: 16px;
		display: flex;
		align-items: center;

		@media (max-width:499px) and (min-width:200px) {
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
		}

		&__li {
			display: flex;
			position: relative;
			font-size: 0.9375em;
			justify-content: space-evenly;
			align-items: center;
			padding: 0.1875em;
			margin-right: 1.875em;

			&--activo {
				color: rgb(45, 106, 79);
				font-weight: bold;
				font-size: 1em;
				margin-right: 1em;
				display: inline;

				ul {
					list-style: none;
					padding: 0;
				}
			}

			&--activo:hover {
				ul {
					margin: 5px;
					padding: 0;
				}
			}

			ul {
				position: absolute;
				display: none;

				li.subli {
					display: block;
					cursor: pointer;
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: .5em;
					overflow: auto;

				}
			}
		}

		&__li:hover {
			text-shadow: $colorVerdeagua;
		}
	}

	li:hover {
		ul {
			display: block;
			margin-top: 1.25rem;
			padding-top: 100%;
			padding-left: 100%;
			list-style: none;
		}
	}

	.linkNavegacion {
		text-decoration: none;
		color: rgb(54, 143, 139);
	}

}



/*-------------FOOTER--------------------*/
.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #60c489;
	font-family: "Montserrat", Sans-serif;
	color: $colorTexto;

	&__ul {
		padding: .5em;
		text-decoration: none;
		list-style: none;

		li .footerLinks {
			text-decoration: none;
			color: rgb(229, 209, 208);
		}
	}

	&__amor {
		color: $colorTexto;
		font-family: "Montserrat", Sans-serif;
		font-size: 0.9375rem;
		margin-left: 15px;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 13px;

		}
	}

	&__amor--modifier:hover {
		color: rgb(54, 143, 139);
		font-weight: bolder;
		font-style: oblique;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 15px;

		}
	}

	@media (max-width:499px) and (min-width:300px) {
		font-size: 10px;

	}
}

/*-------------INDEX---------------*/
#grillaIndex {
	display: grid;
	height: 2500px;
	width: 100vw;
	grid-template-rows: 15% 10% 7% 60% 8%;
	grid-template-columns: 50% 50%;
	grid-template-areas:
		"header header"
		"nav nav"
		"hola hola"
		"main aside"
		"footer footer";


	@media (max-width:800px) and (min-width:500px) {

		display: grid;
		height: auto;
		width: 100vw;
		overflow: auto;
		grid-template-columns: 100vw;
		grid-template-rows: 15% 10% 10% 25% 35% 5%;
		grid-template-areas:
			"header"
			"nav"
			"hola"
			"main"
			"aside"
			"footer";
	}

	@media (max-width:499px) and (min-width:200px) {

		display: grid;
		height: auto;
		width: 100vw;
		overflow: auto;
		grid-template-columns: 30% 70%;
		grid-template-rows: 10% 15% 10% 25% 35% 5%;
		grid-template-areas:
			"header header"
			"nav nav"
			"hola hola"
			"main main"
			"aside aside"
			"footer footer";

		/*.cabecera {
			margin: 0;
			padding: 1.25em;
			grid-area: header;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: linear-gradient(90deg, rgba(60, 69, 109, 1) 0%, rgba(223, 180, 180, 1) 0%, rgba(96, 196, 137, 1) 100%);


			header &__logo {
				max-width: 40%;
				height: auto;
				display: flex;
				border-radius: 50%;
			}

			header &__titulo {
				margin-left: 0.2em;
				color: rgb(229, 209, 208);
				font-family: "Montserrat", Sans-serif;
				font-size: 1.125rem;
				text-align: center;

			}

			&__titulo:hover {
				font-size: 2.75rem;
				transition: 2s;
			}

		}*/
		nav {
			grid-area: nav;
			list-style: none;
			font-size: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: rgb(229, 209, 208);
			font-family: "Montserrat", Sans-serif;

			.menu {
				list-style: none;
				font-size: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;

			}


		}



	}

	.hola {
		grid-area: hola;
		background-color: rgb(237, 175, 184);
		color: rgb(11, 57, 72);
		font-family: "Montserrat", Sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1em;
		padding: 2em;
		margin-top: 2.5rem;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 10px;
		}


		&__titulo {
			font-family: "Montserrat", Sans-serif;
			font-size: 1.5625em;
			font-weight: bolder;
		}

		&__p {
			font-size: 1rem;
			color: rgb(54, 143, 139)
		}
	}

	main {
		grid-area: main;
		padding: 1em;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		flex-wrap: nowrap;
		max-width: 100%;
		max-height: 100%;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 10px;
		}

		h2 {
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;
		}



		h4 {
			font-weight: lighter;
			color: rgb(54, 143, 139);
			font-family: "Montserrat", Sans-serif;
		}

		a {
			text-decoration: none;
			color: rgb(11, 57, 72);
			padding: 1em;
		}

		a:hover {
			color: rgb(237, 175, 184);

		}
	}

	p {
		font-size: 1em;
		color: $colorTexto;
		padding: .5em;
		text-align: justify;
	}

	aside {
		grid-area: aside;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		background-color: $colorFondo;
		padding: 10px;
		margin-top: 200px;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 10px;
			margin: 1em;
		}

		#carouselExampleControls {
			margin: 40px;
			padding-top: 3em;
		}

		p {
			padding: 1em;
			font-family: "Montserrat", Sans-serif;
			font-style: italic;
			background-color: rgb(237, 175, 184);
			color: $colorTexto;
			text-align: justify;
			max-width: 85%;
		}
	}
}

/*--------------SOBRE FICUS-------------------*/

#grillaSobreFicus {
	display: grid;
	height: 2500px;
	width: 100vw;
	grid-template-rows: 15% 10% 67% 8%;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";

	@media (max-width:800px) and (min-width:500px) {

		display: grid;
		height: auto;
		width: 100vw;
		overflow: auto;
		grid-template-columns: 100vw;
		grid-template-rows: 15% 10% 70% 5%;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer";
	}

	@media (max-width:499px) and (min-width:200px) {
		display: grid;
		height: auto;
		width: 100vw;
		overflow: auto;
		grid-template-columns: 100vw;
		grid-template-rows: 15% 10% 70% 5%;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer";
	}

	main {
		grid-area: main;
		padding: 1em;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;
		color: $colorTexto;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		flex-wrap: nowrap;
		max-width: 100%;
		height: auto;
		padding: 5em;
		overflow: auto;
		@media (max-width:499px) and (min-width:200px) {
			font-size: 10px;
			padding: .5em;
		}

		img {
			max-width: 90%;
			margin-left: 3.125rem;
			@media (max-width:499px) and (min-width:200px) {
				margin: .8em;
			}
		}

		h2 {
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;
		}

		h3{
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;

		}


		p {
			font-size: 1em;
			color: $colorTexto;
			padding: .5em;
			text-align: justify;
		}


		div div .amigos {

			display: flex;
			flex-direction: column;
			margin: 1em;
			text-decoration: none;
			padding: 1em;
			overflow: auto;



			h2 &__titulo {
				color: $colorTitulos;
				padding-bottom: 0;
				
			}

			&__ul {
				margin: 2em;
				padding-bottom: 1em;
				list-style: none;
				text-decoration: none;
				color: rgb(54, 143, 139);
				font-weight: bold;

				li {
					a {
						text-decoration: none;
						color: rgb(54, 143, 139);
					}
				}
			}
		}

		// cards amigos
		div .cardsAmigos {
			display: flex;
			justify-content: center;
			align-content: center;
			justify-items: center;
			margin: 1 em;
			height: 40vh;
			@media (max-width:499px) and (min-width:200px) {
				display: flex;
				flex-direction: column;
				height: 50%;
				justify-items: center;
			}
			div {
				width: 40%;
				height: 80%;
				background-color: rgba(223, 180, 180, 1);
				padding: 1em;
				margin: 1em;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 8%;
				@media (max-width:499px) and (min-width:200px) {
				margin-left: 6.5em;
				}
	
				
				a {
					margin: 0;
					padding: 0;
					font-size: 0;

					img {

						width: 7.5rem;
						height: 7.5rem;
						margin: 1em;
						border-radius: 50%;
						transition: height 1s width 1s;

						&:hover {
							height: 8.125rem;
							width: 8.125rem;
							box-shadow: 5px;
						}
					}

				}

			}


		}

	}

}

/*-------------- TALLERES----------------*/
@mixin tarjeta ($fondo) {
	background-color: $fondo;
	font-weight: bold;
	font-style: italic;
	margin: 1em;
	padding: 1em;
	padding-bottom: 2em;
}


#grillaTalleres {
	display: grid;
	height: 2000px;
	width: 100vw;
	grid-template-rows: 15% 10% 67% 8%;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
		@media (max-width:499px) and (min-width:200px) {
			height: auto;
			font-size: 10px;
		}


	#mainTalleres {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%;
		grid-template-areas:
			"personales grupales";
		align-items: flex-start;
		justify-items: center;
		padding: 1em;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;

		@media (max-width:499px) and (min-width:200px) {
		display: flex;
		flex-direction: column;
		}

	}

	h2 {
		font-size: 3em;
		color: $colorTitulos;
		font-weight: bold;
		padding: .5em;

	}

	h3{
		font-size: 3em;
		color: $colorTitulos;
		font-weight: bold;
		padding: .5em;

	}

	p {
		font-family: "Montserrat", Sans-serif;
		font-size: 1em;
		color: $colorTexto;
		padding: .5em;
		text-align: justify;
		max-width: 80vw;
	}

	#tPersonales {
		grid-area: personales;
		@include tarjeta(rgb(243, 208, 206));
	}

	#tGrupales {
		grid-area: grupales;
		@include tarjeta (rgb(231, 189, 187));
	}

}

/*------------CONTACTO-----------------*/

#grillaContacto {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 10% 67% 8%;
	height: 2000px;
	width: 100vw;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
		@media (max-width:499px) and (min-width:200px) {
			font-size: 10px;
			height: auto;
		}

	#mainContacto {
		grid-area: main;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;

		form {
			color: rgb(54, 143, 139);
			background-color: rgb(243, 208, 206);
			padding: 1.25rem;
			border-radius: round($number: 8%);
			@media (max-width:499px) and (min-width:200px) {
				font-size: 10px;
				margin: 3em;

				#formularioContacto div .form-group{
					font-size: 1em;
					margin: .5em;

				
					
				}
			}
			
		}
	}
}

/*------------PRODUCTOS-----------------*/
#grillaProductos {
	display: grid;
	width: 100vw;
	grid-template-columns: 100%;
	grid-template-rows: 15% 10% 67% 8%;
	grid-template-areas: "header"
		"nav"
		"main"
		"footer";

	main {
		grid-area: main;
		background-color: $colorFondo;
		font-family: "Montserrat", Sans-serif;
		overflow: auto;
	
		@media (max-width:499px) and (min-width:200px) {
			font-size: 10px;
		}

		h2 {
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;
		}

		h3{
			font-size: 3em;
			color: $colorTitulos;
			font-weight: bold;
			padding: .5em;

		}

		.conteiner-fluid {
			max-width: 100vw;
			margin: 1em;
			padding: 1em;
			align-content: center;

			div .row {

				div .col-12 col-md-6 col-sm-4 {
					padding: 1em;
					@media (max-width:499px) and (min-width:200px) {
						img{
							max-width: 80%;
						}
					}
				}
			}

			img {
				max-height: 80%;
				padding: 1em;

			}
		}

		section p {
			font-family: "Montserrat", Sans-serif;
			font-size: 1em;
			color: $colorTexto;
			padding: 2em;
			text-align: justify;
			max-width: 80vw;
		}

		div #sectionTabla {
			display: flex;
			align-content: center;
			justify-content: center;
			padding-top: 1em;
			padding-bottom: 2em;
			padding-left: 3em;
			color: $colorTexto;
			margin-bottom: 3em;
			max-width: 80vw;


		}
	}

}