@import '_index.scss';
@import '_quienesSomos.scss';
@import '_talleres.scss';
@import '_contacto.scss';
@import '_productos.scss';


body {
	margin: 0;
	padding: 0;

}

$colorFondo: #ffffff;
$colorTexto: #27292b;
$colorVerdeagua:#cdc7be;
$colorTitulos:rgb(212, 170, 168);
$colorFondoNav: rgb(229, 209, 208);
$colorbb:#cdc7be;

/*h2,h3{
	font-size: 2.5em;
	color: $colorTitulos;
	font-weight: bolder;
	
}*/


/*----------------ENCABEZADO-------------------*/
.cabecera {
	margin: 0;
	padding: 1.25em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-image: url(../css/fotosCarousel/slide4.jpg);
	height: 50vh;
	min-height: 200px;
	background-position: center center;
	background-size: cover;


	header &__logo {
		max-width: 40%;
		height: auto;
		display: flex;
		border-radius: 50%;
	}

	a {
		text-decoration: none;
		color:$colorFondoNav;
		font-family: "Montserrat", Sans-serif;
		font-weight: bolder;
	}
	&__titulo{
		-webkit-text-stroke: 2px rgb(54, 96, 99);
		color: $colorFondoNav;
		font-size: 3.5em;
		padding-left: 1em;
		letter-spacing: .3em;
		text-align: center;
		
	}


	&__titulo:hover {
		color: $colorFondoNav;
		font-size: 4em;
		transition: 2s;
		text-align: center;
		padding: 0;
	}


}

/*-----------BARRA DE NAVEGACION--------------*/
.navbar {

	font-family: "Montserrat", Sans-serif;
	background-color: rgb(229, 209, 208) !important;
	box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
	color: $colorTexto;

	.navbar-collapse {

		ul li .nav-link {
			color: $colorTexto;
		}
	}

	.dropdown-menu[data-bs-popper] {
		background-color: rgb(229, 209, 208);
		color: #27292b;

	}

}


/*----------------------------FOOTER--------------------------------*/
.footer {
	max-height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $colorFondoNav;
	font-family: "Montserrat", Sans-serif;
	color: $colorTexto;
	box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);

	.flexFoot{
		display: flex;
		align-items: center;
		
		
		&__logo {
			border-radius: 50%;
			max-height: 5em;
			margin: .8em;
		}

		&__ul {
			padding: .5em;
			text-decoration: none;
			list-style: none;
			margin: 0;
	
	
			li .footerLinks {
				text-decoration: none;
				color: $colorTexto;
				padding-left: .3em;
				
	
			}
		}

	}
	


	
	footer &__amor {
		color: $colorTexto;
		font-family: "Montserrat", Sans-serif;
		font-size: 13px !important;
		margin-left: 15px;

	}

	&__amor--modifier:hover {
		color: $colorTitulos;
		font-weight: bolder;
		font-style: oblique;

	}

	p{
		font-size: 13px;
		text-align: center;
	}

}

// hoja de estilos con media queries
@import '_tamanios.scss';