@import '_index.scss';
@import '_quienesSomos.scss';
@import '_talleres.scss';
@import '_contacto.scss';
@import '_productos.scss';
@import '_tamanios.scss';

body {
	margin: 0;
	padding: 0;

}

$colorFondo: #ffffff;
$colorTexto: #27292b;
$colorVerdeagua:#cdc7be;
$colorTitulos:rgb(212, 170, 168);
$colorFondoNav: rgb(229, 209, 208);
$colorbb:#cdc7be;

/*h2,h3{
	font-size: 2.5em;
	color: $colorTitulos;
	font-weight: bolder;
	
}*/


/*----------------ENCABEZADO-------------------*/
.cabecera {
	margin: 0;
	padding: 1.25em;
	grid-area: header;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background: linear-gradient(90deg, rgba(60, 69, 109, 1) 0%, rgba(223, 180, 180, 1) 0%, rgba(96, 196, 137, 1) 100%);

	@media (max-width:499px) and (min-width:200px) {
		display: flex;
		flex-direction: column;
		font-size: 10px;
	}

	header &__logo {
		max-width: 40%;
		height: auto;
		display: flex;
		border-radius: 50%;
	}

	header &__titulo {
		margin-left: 0.625em;
		color: rgb(229, 209, 208);
		font-family: "Montserrat", Sans-serif;
		font-size: 3.125em;
		font-weight: bolder;
		font-style:initial;
		letter-spacing: .1em;

	}

	&__titulo:hover {
		font-size: 3.75rem;
		transition: 2s;

		@media (max-width:499px) and (min-width:200px) {
			font-size: 3em;
		}
	}


}

/*-----------BARRA DE NAVEGACION--------------*/
.navbar{
	font-family: "Montserrat", Sans-serif;
	background-color: rgb(229, 209, 208);
	box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
	color: $colorTexto;

	.navbar-collapse{

		ul li .nav-link{
			color:$colorTexto;
		}
}

.dropdown-menu[data-bs-popper]{
	background-color: rgb(229, 209, 208);
	color: #27292b;
}
	
}
/*nav {
	grid-area: nav;
	list-style: none;
	font-size: 0;
	display: flex;
	align-items: center;
	align-content:center;
	background-color: rgb(229, 209, 208);
	font-family: "Montserrat", Sans-serif;
	box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);
	
	

	@media (max-width:499px) and (min-width:200px) {
		justify-content: center;
	}

	.menu {
		list-style: none;
		font-size: 16px;
		display: flex;
		align-items: center;
		padding-top: 0.9375rem;
		

		@media (max-width:499px) and (min-width:200px) {
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
		}

		&__li {
			display: flex;
			position: relative;
			font-size: 0.9375em;
			justify-content: space-evenly;
			align-items: center;
			padding: 0.1875em;
			margin-right: 1.875em;
			
			

			&--activo {
				color: rgb(45, 106, 79);
				font-weight: bold;
				font-size: 1em;
				margin-right: 1em;
				display: inline;
				

				ul {
					display: none;
					list-style: none;
					padding: 0;
				}

			}

			&--activo:hover {
				ul {
					display: none;
					margin: 5px;
					padding: 0;
					
				}
			}

			ul {
				position: absolute;
				display: none;
				

				li.subli {
					display: block;
					cursor: pointer;
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: .5em;
					overflow: auto;
					
					
					
					a .linkNavegacion{
						line-height: unset;
						white-space: nowrap !important;
						
					}

				}
			}
		}

		&__li:hover {
			text-shadow: $colorVerdeagua;
			white-space: nowrap;
			border-radius: .3em ;
			
			
			
		}
	}

	li:hover {
		ul {
			display: block;
			margin-top: 6rem;
			margin-left: 4em;
			padding-left:.5em;
			padding-right: .5em;
			padding-bottom: .4em;
			list-style: none;
			background-color: rgb(229, 209, 208);
			border-radius: .3em;
			
		}
		#ulTalleres{
			margin-top: 110%;
		}
		

			

	}

	.linkNavegacion {
		text-decoration: none;
		color: rgb(11, 57, 72);
		padding: .2em;
	}

	.linkNavegacion:hover{
		background-color: rgb(221, 190, 188);
		border-radius: .3em;
	
	}

}
*/


/*----------------------------FOOTER--------------------------------*/
.footer {
	max-height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color:$colorFondoNav;
	font-family: "Montserrat", Sans-serif;
	color: $colorTexto;
	box-shadow: 0 2px 5px 1px rgba(172, 161, 163, 0.842);

	&__ul {
		padding: .5em;
		text-decoration: none;
		list-style: none;
		margin: 0;


		li .footerLinks {
			text-decoration: none;
			color:$colorTexto;
			padding-left: .3em;
			
		}
	}

	footer &__amor {
		color: $colorTexto;
		font-family: "Montserrat", Sans-serif;
		font-size: 0.9375rem; //no se esta aplicando porque se sobre escribe con los h3 de la pagina
		margin-left: 15px;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 13px;

		}
	}

	&__amor--modifier:hover {
		color: $colorTitulos;
		font-weight: bolder;
		font-style: oblique;

		@media (max-width:499px) and (min-width:300px) {
			font-size: 15px;

		}
	}

	@media (max-width:499px) and (min-width:300px) {
		font-size: 10px;

	}
}
