//media INDEX//

@media (max-width:800px) and (min-width:500px) {
    #grillaIndex{
    display: grid;
    height: auto;
    width: 100vw;
    overflow: auto;
    grid-template-columns: 100vw;
    grid-template-rows: 15% 10% 10% 25% 35% 5%;
    grid-template-areas:
        "header"
        "nav"
        "hola"
        "main"
        "aside"
        "footer";
        header .cabecera{
            grid-area: header;


        }
        .hola{
            grid-area: hola;
        }
        main{
            grid-area: main;
        }

        aside{
            grid-area: aside;
        }
        footer{
            grid-area: footer;
        }
    }
}